

body {
    margin: 0;

}

#main {
    display: block;
}

#img-div {
    display: block;
}

#img-div div{
    display: flex;
    width: 100%;
    justify-content: center;
}

img {
    display: block;
    
    max-width: 500px; 
    max-height: 304px;
    
}

#tribute-info{
    padding-top: 40px;
    background-color: darkgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}